/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
}

nav ul li {
    margin-right: 40px;
    margin-left:35px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
}

nav ul li a{
    text-decoration:none;
    font-size:small;
    color: black;
}

nav ul li a:hover{
    color: darkolivegreen;
}

.new_class_custom{
    border:none;
    border-radius: 10px;
    text-align: center;
    height:20px;
}

.new_class_accept{
    border:none;
    background:transparent;
    cursor:pointer;
    transition: font-size 0.3s ease;
}

.new_class_accept:hover{
    font-size: 25px;
}