/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
}

nav ul li {
    margin-right: 40px;
    margin-left:35px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
}

nav ul li a{
    text-decoration:none;
    font-size:small;
    color: black;
}

nav ul li a:hover{
    color: darkolivegreen;
}

/*body*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
    background-color: #F2E9E0;
}

.container {
    margin: auto;
    text-align: center;
}

.chart-container {
    margin: 0 auto;
}
